<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <div class="topnav">
      <div class="topnav-right">
        <a href="https://generalassemb.ly/"target="_blank">Contact Us</a>
        <a href="gilsonscott@johndeere.com">Report Issues</a>
        <a href="/auth/logoff">Log Off</a>
        
      </div>
    </div>
    <br>
    <h1>Welcome to <%= user.name %>'s Profile Page</h1>
    
    <br>
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="password" name="password" value="<%=user.password%>" /><br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form><br>
    <form>
      <input type="button" onclick="window.location.href='/players';" value="Players Index" />
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>
    <br></br>
   <h2>Hockey Hall of Fame</h2>
    <iframe width="497" height="345" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=497&amp;height=345&amp;hl=en&amp;q=30%20Yonge%20St%20Toronto+(Hockey%20Hall%20of%20Fame)&amp;t=h&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://mapswebsite.net/'>Hockey Hall of Fame</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=ef40b63365212139bbc3cdb22ff6788f035f8d67'></script>
  </body>
</html>
